.vim/spell
.config/mpd/*
!.config/mpd/mpd.conf
.config/ranger/__pycache__/*
.config/ranger/history
.config/ranger/bookmarks
.config/ranger/tagged
.ncmpcpp/error.log
.vimperator/info/default/*
!.vimperator/info/default/quickmarks
