[submodule ".config/nvim/bundle/vim-surround"]
	path = .config/nvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".config/nvim/bundle/vim-pathogen"]
	path = .config/nvim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule ".config/nvim/bundle/vim-sort-motion"]
	path = .config/nvim/bundle/vim-sort-motion
	url = git@github.com:christoomey/vim-sort-motion.git
[submodule ".config/nvim/bundle/vim-commentary"]
	path = .config/nvim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".config/nvim/bundle/vim-pkgbuild"]
	path = .config/nvim/bundle/vim-pkgbuild
	url = git@github.com:Firef0x/PKGBUILD.vim.git
[submodule ".config/nvim/bundle/vim-linux-coding-style"]
	path = .config/nvim/bundle/vim-linux-coding-style
	url = git:vivien/vim-linux-coding-style.git
[submodule ".config/nvim/bundle/vim-cscope-maps"]
	path = .config/nvim/bundle/vim-cscope-maps
	url = git:joe-skb7/cscope-maps.git
[submodule ".config/nvim/bundle/vim-licenses"]
	path = .config/nvim/bundle/vim-licenses
	url = git:antoyo/vim-licenses.git
[submodule ".config/nvim/bundle/vim-magnum"]
	path = .config/nvim/bundle/vim-magnum
	url = git:glts/vim-magnum.git
[submodule ".config/nvim/bundle/vim-radical"]
	path = .config/nvim/bundle/vim-radical
	url = git:glts/vim-radical.git
[submodule ".config/nvim/bundle/vim-repeat"]
	path = .config/nvim/bundle/vim-repeat
	url = git:tpope/vim-repeat
